altgraph==0.17
appnope==0.1.0
backcall==0.2.0
cairocffi==1.2.0
CairoSVG==2.5.0
cffi==1.14.3
cssselect2==0.4.1
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
html5lib==1.1
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
macholib==1.14
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
Pyphen==0.10.0
six==1.15.0
tinycss2==1.1.0
traitlets==5.0.5
wcwidth==0.2.5
WeasyPrint==52.1
webencodings==0.5.1
